<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" type="image/jpg" href="images/Tiny.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="/urls">TinyApp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          </div>
        </div>
        <div>
          <% if (!username ) {%>
          <div class="navbar-nav">
            <a class="nav-item nav-link mr-2" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>
          <% } else { %>
          <form method="POST" action="/logout">
            <h5 style="font-family: 'Lato', sans-serif;" class="d-inline pr-2">Logged in as: <%= username %></h5>
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </form>
          <% } %>
        </div>
      </nav>
    </header>
    <%- include('./flash')%>

