<%- include('./partials/_header') %>

<main style="max-width: 50vw;" class="container d-flex justify-content-center align-items-center mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7 col-sm-4 vh-25 mt-4">
      <div class="card shadow">
        <img src="images/Tiny.png" alt="" class="card-img-top mx-auto" />
        <div class="card-body">
          <h3 class="card-title text-center mb-2">Login</h3>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="emailInput"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="passwordInput"
                required
              />
            </div>
            <div class="d-grid d-block">
              <button class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./partials/_footer') %>
